services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    networks:
      - default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    container_name: jidoka_app_dev
    volumes:
      - /app/.venv
      - ./backend:/app
    ports:
      - "8000:8000"
    command: sh -c "alembic upgrade head && uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      db:
        condition: service_healthy
      nats:
        condition: service_started

  worker:
    container_name: jidoka_worker_dev
    volumes:
      - ./backend:/app
      - /app/.venv
    command: faststream run src.worker.main:app --workers 1
    depends_on:
      db:
        condition: service_healthy
      nats:
        condition: service_started
    networks:
      - default

  frontend:
    build:
      context: ./frontend
      target: build
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      backend:
        condition: service_started

volumes:
  postgres_data:
